/* ROOT */
:root {
    /* utilities */
    --primary-heigth: 300px;
    --wrapper-width: 900px;
    --item-width: 600px;
    --thumbs-width: calc(var(--wrapper-width) - var(--item-width));

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper {
    width: var(--wrapper-width);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* BUTTON SECTION */
.button-section {
    width: var(--wrapper-width);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0.5rem;
}

/* ITEM */
.carousel {
    display: flex;
    align-items: center;
}

.item {
    width: var(--item-width);
    height: var(--primary-heigth);
    background-size: cover;
    background-position: center;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    display: block;
}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 0.5rem;
}

.title,
.text {
    width: 75%;
    color: white;
    text-align: end;
    margin: 0.5rem 0;
    text-shadow: #000 1px 0 3px;
}

/* THUMBNAIL */
.thumbs {
    width: var(--thumbs-width);
    height: var(--primary-heigth);
    background: #000;
    position: relative;
}

.thumb {
    width: 100%;
    height: calc(var(--primary-heigth) / 5);
    opacity: 0.5;
    background-size: cover;
    background-position: center;
}

.thumb img {
    width: 100%;
    height: 100%;
}

.thumb.active {
    border: 2px solid #ccc;
    opacity: 1;
}

/* BUTTON */
.prev,
.next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.prev {
    top: 0;
}

.next {
    bottom: 0;
}

.prev::after {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}